version = 2

# Global options
[global]
dll = "{{ .chezmoi.homeDir }}/.config/lsfg-vk/lsfg-vk.dll"
allow_fp16 = true
log_level = "info"

# Sleeping Dogs: Definitive Edition Profile
[[profile]]
name = "Sleeping Dogs Definitive Edition"
active_in = ["sdhdship.exe"]
multiplier = 2
flow_scale = 1.0
performance_mode = false
pacing = "vsync"
override_present_mode = true
preserve_swapchain_image_count = false
