version = 2

[global]
allow_fp16 = true
dll = "{{ .chezmoi.homeDir }}/.config/lsfg-vk/lsfg-vk.dll"
log_level = "info"

[[profile]]
active_in = "sdhdship.exe"
flow_scale = 1.0
multiplier = 2
name = "Sleeping Dogs Definitive Edition"
override_present_mode = true
pacing_mode = "vsync"
performance_mode = false
preserve_swapchain_image_count = false

[[profile]]
active_in = "GTAIV.exe"
flow_scale = 1.0
multiplier = 2
name = "gta4"
override_present_mode = true
pacing_mode = "vsync"
performance_mode = false
preserve_swapchain_image_count = false

[[profile]]
active_in = [ "FMF2.exe", "FMF2-Win64-Shipping.exe" ]
flow_scale = 1.0
multiplier = 2
name = "FMF2"
override_present_mode = true
pacing_mode = "vsync"
performance_mode = false
preserve_swapchain_image_count = false

[[profile]]
active_in = [ "left4dead2.exe", "L4D2 Launcher.exe", "left4dead2.exe" ]
flow_scale = 1.0
multiplier = 2
name = "L4D2"
override_present_mode = true
pacing_mode = "vsync"
performance_mode = false
preserve_swapchain_image_count = false
