[Unit]
Description=cliphist clipboard management daemon
Documentation=man:cliphist(1)

[Service]
Type=simple
ExecStart=%h/.local/bin/cliphist-daemon
Restart=always
RestartSec=1s

MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
ProtectControlGroups=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=
RestrictRealtime=yes

TimeoutStopSec=2

[Install]
WantedBy=default.target
