[Unit]
Description=Dusky Audio Studio DSP
After=pipewire.service pipewire-pulse.service
Wants=pipewire.service

[Service]
Type=simple
ExecStart=%h/.local/bin/dusky-audio-studio --autostart
ExecStop=%h/.local/bin/dusky-audio-studio --off
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
