[Unit]
Description=Dusky Audio Studio DSP
After=pipewire.service pipewire-pulse.service
Wants=pipewire.service

[Service]
Type=forking
PIDFile=%h/.config/dusky/settings/dusky_studio/daemon.pid
ExecStart=%h/.local/bin/dusky-audio-studio --on
ExecStop=pkill -f dusky_audio_dsp
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
