[Unit]
Description=Automated Night Light Rule (10pm - 6am)
Documentation=man:toggle-nightlight(1)

[Service]
Type=oneshot
Environment="DISPLAY=:0"
Environment="PATH={{ .chezmoi.homeDir }}/.local/bin:/usr/local/bin:/usr/bin"
ExecStart={{ .chezmoi.homeDir }}/.local/bin/nightlight-check-rule

[Install]
WantedBy=default.target
