/**
 * Tsoding-like bottom bar menu for Rofi (Gruvbox Dark)
 */
@import "~/.config/rofi/gruvbox-colors.rasi"

* {
    background-color: @background;
    border-color:     @border-col;
    text-color:       @foreground;
    font:             @modal-font;
}

window {
    anchor:           south;
    location:         south;
    width:            100%;
    padding:          4px 8px;
    border:           2px 0px 0px 0px;
    border-color:     @border-focus;
    children:         [ horibox ];
}

horibox {
    orientation: horizontal;
    children:    [ prompt, entry, listview ];
}

listview {
    layout:      horizontal;
    spacing:     8px;
    lines:       100;
}

prompt {
    padding:          0px 8px 0px 0px;
    text-color:       @accent-bright;
    font:             @modal-font-bold;
}

entry {
    expand:           false;
    width:            14em;
    text-color:       @foreground;
}

element {
    padding:          2px 8px;
    border-radius:    4px;
}

element selected {
    background-color: @accent;
    text-color:       #1d2021;
}

element-text {
    background-color: inherit;
    text-color:       inherit;
}

element-icon {
    size:             1.0em;
    background-color: inherit;
}
