[Desktop Entry]
Type=Application
Name=ELDEN RING
GenericName=Action RPG
Comment=Elden Ring with MangoHud & RTX 5050 Mobile
Exec={{ .chezmoi.homeDir }}/.local/bin/eldenring-run
Icon=steam_icon_1245620
Terminal=false
Categories=Game;
StartupNotify=true
Actions=NoLossless;

[Desktop Action NoLossless]
Name=Launch without Lossless Scaling
Exec=env ENABLE_LSFG=0 {{ .chezmoi.homeDir }}/.local/bin/eldenring-run
