[Desktop Entry]
Type=Application
Name=Neovim
GenericName=Text Editor
Comment=Edit text files
Exec=alacritty -o font.size=17.5 -e nvim %F
Terminal=false
Categories=Utility;TextEditor;Development;
Keywords=text;editor;code;dev;
Icon=nvim
StartupNotify=true
MimeType=text/plain;text/markdown;application/json;application/x-shellscript;application/toml;application/x-yaml;application/x-conf;application/x-config;text/x-c;text/x-c++;text/x-python;text/x-go;text/x-rust;application/x-zerosize;text/x-lua;text/x-java;text/x-makefile;text/yaml;text/css;text/javascript;application/javascript;text/xml;application/xml;
