[Desktop Entry]
Type=Application
Name=Web Search
GenericName=Web Search
Comment=Search Google, YouTube, ArchWiki, GitHub, Amazon, Wikipedia with bangs
Exec={{ .chezmoi.homeDir }}/.local/bin/rofi-websearch
Icon=system-search
Terminal=false
Categories=Network;Utility;
Keywords=google;youtube;search;web;wiki;amazon;arch;github;
