@import 'colors.css';

/* Thunar-only font: Iosevka Nerd Font */
.thunar, .thunar *, window.thunar, window.thunar * {
  font-family: "Iosevka Nerd Font Mono", monospace;
  font-size: 16.5pt;
}

/* File Chooser & Portal Dialogs */
filechooser, filechooser *, .file-chooser, .file-chooser *, window.dialog, window.dialog * {
  font-size: 16.5pt;
}